<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Handling</title>
</head>

<body>

    <h1>Form Handling</h1>
    <form action="/form_submit" method="post">
        name : <input type="text" id="name" name="name" placeholder="Enter your name">
        <br>
        <br>
        email : <input type="email" id="email" name="email" placeholder="Enter your email">
        <br>
        <br>
        password : <input type="password" id="password" name="password" placeholder="Enter your password">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>